
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div style="font-family: Helvetica; padding-left: 10px;" align="left">
            <h3>Business Analytics</h3>
                <p style="color: #020202; font-size: 11px;">Thank you for installing Business Analytics.</p>
            <h5>Check log</h5>
                <p style="color: #020202; font-size: 11px;">Open a new terminal and run the following command to check the log:</p>
                <code style="color: #c6a72b; font-size: 11px;">&nbsp; $ <span style="color: #abb0b0">tail -f /usr/local/etc/businessAnalytics.log</span></code>
        </div>
        <div style="font-family: Helvetica; padding-left: 10px;" align="left">
            <br/>
            <h5>Resources</h5>
                <p style="color: #020202; font-size: 11px;">Go through following link for additional information.</p>
                <ul>
                    <li><a href="https://www.nofraud.la" style="font-size: 11px;">Developer site</a></li>
                </ul>
        </div>
        <div style="font-family: Helvetica; padding-left: 10px;" align="left">
            <br/>
            <h5>Uninstall Business Analytics</h5>
                <p style="color: #020202; font-size: 11px;">Run the following command to uninstall Business Analytics. <br />
                  <code style="color: #c6a72b; font-size: 11px;"><br />&nbsp; $ <span style="color: #abb0b0">sudo bash /Library/BusinessAnalytics/0.0.1/uninstall.sh</span></code>
                </p>
        </div>
        <div style="font-family: Helvetica; padding-left: 10px;" align="left"><br />
            <p style="color: #abb0b0; font-size: 10px;">Copyright © NOFRAUD Latam LLC, Chicago, United States. All rights reserved. Business Analytics and its use subject to a license agreement and are also subject to copyright, trademark patent and/or other laws.</p>
        </div>
    </body>
</html>
